//fonts
$font-first: "Helvetica-Neue";
$font-first-bold: "Helvetica-Neue-Bold";
$font-second: "Minion-Pro";

//colors
$color-white-global: #fff;
$color-first: #f37140;
$color-second: #747679;
$color-third: #08090a;
$color-footer: #555659;
